table, tr {
    border: solid 1px;
}

th {
    border-bottom: solid 2px;
    border-left: solid 1px;
    border-right: solid 1px;
}

td {
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
}