<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Asteroids</title>
</head>
<body>
    <p>{{ static }}</p>
    <form action="{% url 'asteroids_works' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}     
        <input type="submit" value="Get objects">
    </form>   



    {% if asteroids %}
        {{ dates }}

        <p>asteroids list</p> 
      
        <table>
            <tr>
                <th>Date</th>
                <th >Name</th>
                <th>Absolute Magnitude (hours)</th>
                <th>Is potentially hazardous asteroid</th>
            </tr>
            {% for asteroid in asteroids %}
                <tr>
                    <td>
                        {{ asteroid.date }}
                    </td>
                    <td>
                        {{ asteroid.name }}
                    </td>
                    <td>
                        {{ asteroid.absolute_magnitude_h }}
                    </td>
                    <td>
                        {{ asteroid.is_hazardous }}
                    </td>
                </tr>
                {% endfor %}
        </table>
            

    {% else %}
        <p></p>
    {% endif %}
    
</body>
</html>